body {
    background-color: darkgrey;
}

.container {
    display: flex;
    align-items: center;
}

.cell {
    text-align: center;
    min-width: 77px;
    padding: 2px;
}

.minCell {
    min-width: 10px;
    padding: 2px;
}

.chordButton {
    width: 70px;
    height: 30px;
    background-color: rgb(245, 245, 233);
    color: #000000;
}

.chordBoxButton {
    width: 70px;
    height: 30px;
    background-color: rgb(211, 238, 238);
    color: #000000;
}

.clicked {
    background-color: #0366D6;
}

#chordBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

#settings {
    margin-top: 10px;
    padding: 2px;
}